table.best_solution_container{
    border: 0.1em solid #BBCCDD;
    padding: 1.5em;
    width: 100%;
}
table.question_text_table{
    border: 0.1em solid #BBCCDD;
    background-color: #ECF0F9;
    padding: 1em;
    width: 100%;
}
table.best_solution_table{
    border: 0.1em solid #BBCCDD;
    background-color: #CCCCCC;
    padding: 1em;
    width: 100%;
}
tr#best_solution_row{
    border: 0.1em solid #BBCCDD;
    background-color: #EEEEEE;
    padding: 1em;
}
tr.best_solution_header{
    background-color: #CCCCCC;
    padding: 1em;
    border: 1px solid #E0E0E0;
    font-weight: bold;
    font-size: 105%;
}
td.input_name{
    border: 0.1em solid #BBCCDD;
    background-color: #EEEEEE;
    font-size: 1.15em;
    width: 30%;
}
td.model_answer{
    border: 0.1em solid #BBCCDD;
    background-color: #EEEEEE;
    font-size: 1.15em;
    width: 30%;
}