table.feedback_container{
    border: 0.1em solid #BBCCDD;
    padding: 1.5em;
    width: 100%;
}
table.question_text_table{
    border: 0.1em solid #BBCCDD;
    background-color: #ECF0F9;
    padding: 1em;
    width: 100%;
}
table.general_feedback_table{
    border: 0.1em solid #BBCCDD;
    border-bottom: 0.3em;
    border-top: 0.3em;
    background-color: #ECF0F9;
    padding: 1em;
    width: 100%;
}
table.best_solution_table{
    border: 0.1em solid #BBCCDD;
    background-color: #ECF0F9;
    padding: 1em;
    width: 100%;
}
table.total_points_table{
    border: 0.1em solid #BBCCDD;
    width: 100%;
}
table.question_feedback_table{
    border: 0.25em solid #BBCCDD;
    width: 100%;
}
table.user_response_table{
    padding: 0.2em;
    width: 100%;
}
tr.question_feedback_container{
    border: 0.2em solid #BBCCDD;
    width: 100%;
}
tr.user_response_message{
    border: 0.1em solid #BBCCDD;
    background-color: #EEEEEE;
    padding: 0.2em;
}
tr.teacher_response_message{
    border: 0.1em solid #BBCCDD;
    background-color: #EEEEEE;
    padding: 0.2em;
}
tr.responses{
    border: 0.1em solid #BBCCDD;
    background-color: #EEEEEE;
    padding: 0.2em;
}
tr.points_row{
    border: 0.1em solid #BBCCDD;
    background-color: #E7E7E7;
    padding: 1em;
}
tr#feedback_message_row{
    border: 0.1em solid #BBCCDD;
    background-color: #EEEEEE;
    padding: 1em;
}
tr#error_message_row{
    border: 0.1em solid #BBCCDD;
    background-color: #FFCCCC;
    padding: 1em;
}
tr.feedback_status_row{
    border: 0.1em solid #BBCCDD;
    padding: 1em;
}
td.question_text_message{
    font-size: 1.15em;
    width: 30%;
}
td.general_feedback_message{
    font-size: 1.15em;
    width: 30%;
}
td.best_solution_message{
    font-size: 1.15em;
    width: 30%;
}
td.total_points_message{
    font-size: 1.15em;
    width: 30%;
}
td.total_points{
    font-size: 1.25em;
}
td.user_response_message{
    background-color: #EEEEEE;
    padding: 0.2em;
}
td.teacher_response_message{
    background-color: #dbdbdb;
    padding: 0.2em;
}
td.user_response{
    background-color: #EEEEEE;
    padding: 0.2em;
}
td.teacher_response{
    background-color: #dbdbdb;
    padding: 0.2em;
}
td.points_message{
    width: 30%;
}
td.feedback_message{
    width: 30%;
}
td.error_message{
    width: 30%;
}
td.feedback_status_message{
    width: 30%;
}
