<table class="dsm_container_table">
    <tr>
        <td>
            <div id="dsm_title"><h1>{DEPLOYED_SEEDS_TABLE_TITLE}</h1></div>
            <div id="dsm_subtitle">{DEPLOYED_SEEDS_TABLE_SUBTITLE}</div>
            <table class="deployed_seeds_table">
                <thead class="deployed_seeds_overview_header">
                <tr>
                    <th id="dsm_dsp_ds">{DEPLOYED_SEEDS_HEADER}</th>
                    <th id="dsm_dsp_qn">{QUESTION_NOTES_HEADER}</th>
                    <th id="dsm_dsp_vf">{VIEW_FORM_HEADER}</th>
                </tr>
                </thead>
                <tbody>
                <!-- BEGIN deployed_seeds_overview -->
                <tr class="deployed_seed_overview">
                    <td class="deployed_seed_column">
                        {DEPLOYED_SEED}
                    </td>
                    <td class="question_note_column">
                        {QUESTION_NOTE}
                    </td>
                    <td class="view_form_column">
                        {VIEW_FORM}
                    </td>
                </tr>
                <!-- END deployed_seeds_overview -->

                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td id="dsm_nds_c">
            <table id="new_deployed_seeds_table">
                <tr>
                    <td>
                        <div id="new_deployed_seed_form">{NEW_DEPLOYED_SEED_FORM}</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>