<div class="container col-md-{CONTAINER_WIDTH}">
    <div class="row">
        <!-- BEGIN column_header -->
        <div class="col-md-{COLUMN_WIDTH}">{PART_NAME}</div>
        <!-- END column_header -->
    </div>

    <div class="row">
        <!-- BEGIN column_content -->
        <div class="col-md-{COLUMN_WIDTH}" id="mpcolp_type_{PART_TYPE}">
            <!-- BEGIN prop_container -->
            <div class="row">
                <div class="col-md-{TITLE_WIDTH}">{PROP_TITLE}</div>
                <div class="col-md-{CONTENT_WIDTH}">
                    <!-- BEGIN prop_generic -->
                    <div class="mpacc_content">{PROP_GENERIC}</div>
                    <!-- END prop_generic -->
                    <!-- BEGIN prop_custom -->
                    {CUSTOM_CONTENT}
                    <!-- END prop_custom -->
                </div>
                <div class="col-md-{FOOTER_WIDTH}"></div>
            </div>
            <div class="row">
                <div class="col-md-{TITLE_WIDTH}"></div>
                <div class="col-md-{CONTENT_WIDTH}">
                    <div class="help-block">{PROP_INFO}</div>
                </div>
                <div class="col-md-{FOOTER_WIDTH}"></div>
            </div>
            <div class="row">
                <div class="col-md-{TITLE_WIDTH}"></div>
                <div class="col-md-{CONTENT_WIDTH}"></div>
                <div class="col-md-{FOOTER_WIDTH}"></div>
            </div>
            <!-- END prop_container -->
        </div>
        <!-- END column_content -->
    </div>
</div>