<table id="new_scoring_table">
    <tr>
        <td>
            <div id="scoring_form">{SCORING_FORM}</div>
        </td>
    </tr>
</table>
<table class="scoring_table">
    <!-- BEGIN prt_part -->
    <tr class="prt_overview">
        <td class="prt_name">
            {PRT_NAME_MESSAGE} <b>{PRT_NAME}</b>
        </td>
        <td class="prt_points" colspan="2">
            {PRT_POINTS_MESSAGE} <b>{PRT_POINTS}</b>
        </td>
    </tr>
    <!-- BEGIN node_part -->
    <tr class="node_overview">
        <td class="node_name">
            {NODE_NAME_MESSAGE} <b>{NODE_NAME}</b>
        </td>
        <td class="true_scoring">
            {TRUE_SCORING}
        </td>
        <td class="false_scoring">
            {FALSE_SCORING}
        </td>
    </tr>
    <!-- END node_part -->
    <!-- END prt_part -->
</table>
<table class="scoring_table">
    <!-- BEGIN n_prt_part -->
    <tr class="prt_overview">
        <td class="prt_name">
            {N_PRT_NAME_MESSAGE} <b>{N_PRT_NAME}</b>
        </td>
        <td class="prt_points" colspan="2">
            {N_PRT_POINTS_MESSAGE} <b>{N_PRT_POINTS}</b>
        </td>
    </tr>
    <!-- BEGIN n_node_part -->
    <tr class="node_overview">
        <td class="node_name">
            {N_NODE_NAME_MESSAGE} <b>{N_NODE_NAME}</b>
        </td>
        <td class="true_scoring">
            {N_TRUE_SCORING}
        </td>
        <td class="false_scoring">
            {N_FALSE_SCORING}
        </td>
    </tr>
    <!-- END n_node_part -->
    <!-- END n_prt_part -->
</table>