<table id="ut_prt_view_container_table">
    <tr id="ut_prt_view_header">
        <td>
            {UT_PRT_PRTNAME_H}
        </td>
        <td>
            {UT_PRT_EXPECTED_SCORE_H}
        </td>
        <td>
            {UT_PRT_RECEIVED_SCORE_H}
        </td>
        <td>
            {UT_PRT_EXPECTED_PENALTY_H}
        </td>
        <td>
            {UT_PRT_RECEIVED_PENALTY_H}
        </td>
        <td>
            {UT_PRT_EXPECTED_ANSWERNOTE_H}
        </td>
        <td>
            {UT_PRT_RECEIVED_ANSWERNOTE_H}
        </td>
        <td>
            {UT_PRT_CAS_ERRORS_H}
        </td>
        <td>
            {UT_PRT_CAS_FEEDBACK_H}
        </td>
    </tr>
    <!-- BEGIN ut_prt -->
    <tr id="ut_prt_view_row">
        <td>
            {UT_PRT_PRTNAME}
        </td>
        <td>
            {UT_PRT_EXPECTED_SCORE}
        </td>
        <td class="ut_prt_received_score" bgcolor="{UT_SCORE_TEST_COLOR}">
            {UT_PRT_RECEIVED_SCORE}
        </td>
        <td>
            {UT_PRT_EXPECTED_PENALTY}
        </td>
        <td class="ut_prt_received_penalty" bgcolor="{UT_PENALTY_TEST_COLOR}">
            {UT_PRT_RECEIVED_PENALTY}
        </td>
        <td>
            {UT_PRT_EXPECTED_ANSWERNOTE}
        </td>
        <td class="ut_prt_received_answernote" bgcolor="{UT_ANSWERNOTE_TEST_COLOR}">
            {UT_PRT_RECEIVED_ANSWERNOTE}
        </td>
        <td>
            {UT_PRT_CAS_ERRORS}
        </td>
        <td>
            {UT_PRT_CAS_FEEDBACK}
        </td>
    </tr>
    <!-- END ut_prt -->
</table>